/*24914259*/

body {
	margin: 0; 
  	padding-top: 50px;
  	padding-bottom: 50px;
	color: #333;
 	background-image: url("../images/background-image.jpg");
 	/*background-repeat:  no-repeat;*/
 	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}
.jumbotron {
	background-color: transparent;
/*	padding-left: 0;
	padding-right: 0;*/
}
h1, h2 {
	text-align: center;
}
#top-title {
	/*font-family: 'Lato', sans-serif;*/
    margin: 20px 0 0 0;
    font-weight: 700;
}
#header {
    font-size: 50px;
    background-color: #bdc3c7;
    color: #333;
/*    padding-left: 50px;
    padding-right: 50px;*/
}
/*
.left-image {
	text-align: left;
}
*/
#header>div>img {
    /*width: 40%;*/
    width: 90px;
    height: auto;
    margin: -5px 0 0 0;
}
#curveFitter, #cellExplorer {
    width: 100%;
    margin-top: 35px;
    padding: 1px;
    border: 1px solid #e74c3c;
    border-radius: 20px;
}
#title {
	/*font-family: 'Lato', sans-serif;*/
	color: #bdc3c7;
}
.row {
	text-align: center;
    /*margin-top: 50px;*/
}
.col-md-8 {
	text-align: left;
}
.subTitle {
	font-weight: 600;
	font-size: 30px;
}
p {
    color: #ecf0f1;
	text-align: justify;
}
a {
	color: #e74c3c;
}
a:focus, a:hover {
    color: #ecf0f1;
    text-decoration: none;
    opacity: .8;
}
#contact {
	text-align: center;
}
#contact-link {
	font-size: 35px;
}
.footer>p {
    font-size: 18px;
	text-align: center;
}
.calli {
	font-family: 'Calligraffitti', sans-serif, cursive;
}
