body {
	margin: 0; 
  	padding-top: 50px;
  	padding-bottom: 50px;
	color: #333;
 	background-image: url("../images/background-image.jpg");
 	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}
.jumbotron {
	background-color: transparent;
}

/* fixed navbar */

h1, h2 {
	text-align: center;
}
#top-title {
    margin: 20px 0 0 0;
    font-weight: 700;
}
#header {
    font-size: 50px;
    background-color: #bdc3c7;
    color: #333;
}
#GR-logo {
    height: 70px;
    width: auto;
    margin: -5px 0 0 0;
}
#title {
	color: #bdc3c7;
}
/*.hidden {
    background-color: #bdc3c7;
	display: none;
}
*/

/* main body */

.row {
	text-align: center;
}
.col-md-8 {
	text-align: left;
}
#U981-logo2 {
    height: 100px;
    margin-right: 5%;
}
.subTitle {
	font-weight: 600;
	font-size: 30px;
}
#curveFitter, #cellExplorer {
    width: 100%;
    margin-top: 35px;
    padding: 1px;
    border: 1px solid #e74c3c;
    border-radius: 20px;
}
p {
    color: #ecf0f1;
	text-align: justify;
}
a {
	color: #e74c3c;
}
a:focus, a:hover {
    color: #ecf0f1;
    text-decoration: none;
    opacity: .8;
}
.align-center {
	text-align: center;
}
#contact-link {
	font-size: 35px;
}

/* footer */
.footer>p {
    font-size: 18px;
	text-align: center;
}

/* global styling */
.calli {
	font-family: 'Calligraffitti', sans-serif, cursive;
}

/* responsiveness */
/*@media (max-width: 992px) {
	.logo {
		display: none;
	}
	.hidden {
	    background-color: #bdc3c7;
    	display: block !important;
    	height: 50px;
	}
	.hidden>img {
		height: 40px;
    	margin-top: -38px;
    	margin-bottom: -7px;
    }
}
*/

@media (max-width: 768px) {
	body {
		margin: 0; 
	  	padding-top: 120px;
	  	padding-bottom: 50px;
  	}
  	#GR-logo {
	    height: 40px;
	    width: auto;
	    margin: -20px 0 0 0;
	}
  	h1#top-title {
		font-size: 25px;
		margin-top: -10px;
		padding-top: 0px;
		padding-bottom: 10px;
    	}
   	#title {
    	font-size: 26px;
	}
	#U981-logo2 {
	    height: 50px;
	    margin-top: -20px;
	    margin-right: 3%;
	}
	p {
		font-size: 18px !important;
	}
}

